---
layout: default
---

<div class="grade">

   <h2>Course Assessment and Grading Scale</h2>
    <table border="1">
    <tr>
        <th>Category</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <td>Paper Presentation 1</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Paper Presentation 2</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Discussion</td>
        <td>20%</td>
    </tr>
    </table>

    <br>
    <table border="1">
    <tr>
        <th>Grade</th>
        <th>Range</th>
    </tr>
    <tr>
        <td>A</td>
        <td>A+: 98-100, A: 93-97, A-: 90-92</td>
    </tr>
    <tr>
        <td>B</td>
        <td>B+: 87-89, B: 83-86, B-: 80-82</td>
    </tr>
    <tr>
        <td>C</td>
        <td>C+: 77-79, C: 73-76, C-: 60-72</td>
    </tr>
    <tr>
        <td>F</td>
        <td>F: &lt;60</td>
    </tr>
    </table>
  
</div>
